.vs
ArchimedesWebApp/bin
ArchimedesWebApp/obj
ArchimedesWebApp/obj/Debug
.vs/ArchimedesWebApp/v14/.suo
ArchimedesWebApp/bin/ArchimedesWebApp.dll
ArchimedesWebApp/bin/ArchimedesWebApp.pdb
ArchimedesWebApp/obj/Debug/ArchimedesWebApp.dll
ArchimedesWebApp/obj/Debug/ArchimedesWebApp.pdb