body
{ 
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0);
    font: 16px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-stretch: condensed;
}

h1, h2, h3
{
    font: bold 36px "Trebuchet MS", Helvetica, sans-serif;
    font-stretch: extra-condensed;
    font-stretch: condensed;
    margin-bottom: 0px;
    margin-top: 0px;
}

    h2
    {
        font-size: 28px;
    }

    h3, th
    {
        font: bold 20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    }

#header
{
    margin: 0px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 100%;
    height: 60px;
}

   #logo a:link, #logo a:hover
   {
       transition: none;
       font: bold 36px "Trebuchet MS", Helvetica, sans-serif;
       font-stretch: extra-condensed;
       font-stretch: condensed;
       margin-bottom: 0px;
       margin-top: 0px;
       padding: 0px;
       background-color: rgb(0, 0, 0);
       color: rgb(255, 255, 255);
   }

    #logo_img
    {
        display: inline-block;
        float: left;
        width: 67px;
        margin-right: 5px;
    }

#page_title
{
    margin: 0px;
    width: 100%;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 60, 12);
}

#page_data
{
    width: 100%;
    margin: auto;
}

#aux_panel
{
   background: -webkit-linear-gradient(rgba(255, 60, 12, 0.75), rgba(255, 255, 255, 0.75)); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(rgba(255, 60, 12, 0.75), rgba(255, 255, 255, 0.75)); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(rgba(255, 60, 12, 0.75), rgba(255, 255, 255, 0.75)); /* For Firefox 3.6 to 15 */
   background: linear-gradient(rgba(255, 60, 12, 0.75), rgba(255, 255, 255, 0.75)); /* Standard syntax */

   margin: 0px;
   height: 350px;

   width: 22%;
   padding: 1.5%;
   height: 350px;
   float: left;
}

#member_table
{
   margin: 0px;
   width: 75%;
   float:right;
}

/*div
{
    background-color: rgba(255, 255, 255, 0.255);
    margin: 10px;
    border: groove 10px;
    padding: 10px;
} */ 

table
{
    margin-right: 0%;
    width: 100%;
    background-color: rgba(255, 60, 12, 0.25);
    border: none;
    table-layout: fixed;
}

    td, thead, th
    {
        text-align: left;
        border-top: none;
        border-bottom: none;
        border-left: 1px solid rgb(255,255,255);
        border-right: none;
        padding-left: 5px;
        word-wrap: break-word;
        max-height: 100px !important;
    }

    th:first-child, td:first-child
    {
       border-left:none;
    }

    tr:nth-child(odd)
    {
        background-color: rgba(255, 60, 12, 0.25);
    }

    tr:first-child {
        background-color: rgba(255, 60, 12, 0.75);
    }

.member_name, .work_cat
{
    text-align: left;
    width: 95%;
    margin: auto;
}

a:link
{
    text-decoration: none;
    color: rgb(0,0,0);
}

    #header_links a:link
    {
       margin-right: 10px;
        color: rgba(255, 60, 12, 1);
    }

a:visited
{
    color: rgba(255, 60, 12, 1);
}

   table a:visited
   {
       color: rgb(0,0,0);
   }

a:hover, submit:hover, input:hover, option:hover
{
    background-color: rgba(255, 60, 12, 0.75);
    color: rgb(255,255,255);
    padding: 2px;
    
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s;
}

    #header_links a:hover
    {
        border: 2px solid #555; 
        background-color: rgba(128, 128, 128, 0.25);
    }

a:active
{
    color: rgba(0, 0, 0, 1);
}

input, sumbit, select, option, textarea
{
    border: none;
    font: 16px "Tahoma", "Geneva", sans-serif;
    background-color: rgba(255, 60, 12, 0.5);
    color: rgba(0, 0, 0, 1);
    width: 100%;
    margin-bottom: 5px;
}

.submit_button
{
   padding: 2px;
}

   #ContentPlaceHolder1_leaveComment
   {
      position:relative;
      top: 25px;
   }

.box
{
    display: inline-block;
}

   .checkbox
   {
       display: inline-block;
       width: 13px;
       margin-right: 10px;
   }

#footer
{
   clear: unset;
   position: fixed;
   bottom: 0px;
   background: rgba(0,0,0,1);
   height: 25px;
   width: 100%;
   margin-top: 5px;
}
   #footer p
   {
      font: 10px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
      color: rgba(255,255,255,1);
      margin-left: 10px;
      margin-top: 5px;
   }

.comment_header
{
   font: 16px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.comment_body
{
   font: 12px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

